<%= content_tag :div, class: "column vote_by_category", data: data do %>
  <div class="card" style="<%= available_styles %>">
    <div class="card__content">
      <p class="text-center"><%= title %></p>
      <h3 class="heading2 text-center"><%= remaining_votes %></h3>
      <p class="text-center"><%= caption %></p>
    </div>
  </div>
<% end %>

<div class="reveal" data-reveal id="budget-excess-<%= category&.id %>">
  <div class="reveal__header">
    <h3 class="reveal__title"><%= popup_title %></h3>
    <button class="close-button" data-close aria-label="<%= t("decidim.budgets.projects.budget_excess.close") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= popup_content %></p>
  <div class="row column">
    <div class="callout warning">
      <div class="row">
        <div class="columns">
          <h4 class="heading4">
            <%= t("decidim.budgets.projects.budget_summary.rules.title") %>
          </h4>
          <ul>
            <%= current_rule_explanation %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button data-close class="button expanded"><%= t("decidim.budgets.projects.budget_excess.ok") %></button>
    </div>
  </div>
</div>
