<div class="column" data-category-id="<%= category.id %>">
  <div class="card" style="<%= available_styles %>>">
    <div class="card__content">
      <p class="text-center"><%= title %></p>
      <h3 class="heading2 text-center"><%= remaining_votes %></h3>
      <p class="text-center"><%= label %></p>
    </div>
  </div>
</div>