<%= content_tag :div, class: "column vote_by_category", data: data do %>
  <div class="card" style="<%= available_styles %>">
    <div class="card__content">
      <h3 class="heading4 text-center category_name"><%= category_name %></h3>
      <h4 class="heading5 text-center assigned"> <%= t(".assigned", total: total) %></h4>

      <p class="text-center criteria-inline"><%= inline_criteria %></p>
      <% if model.can_checkout? %>
        <p class="text-center criteria-met"><%= t(".criteria_met") %> <%= icon("check") %></p>
      <% else %>
        <p class="text-center criteria-not-met"><%= t(".criteria_not_met") %> <%= icon("x") %></p>
      <% end %>

    </div>
  </div>
<% end %>

<%= render :popup %>